/* =========================================
   Section ABOUT
   ========================================= */

.about {
  height: 100vh;
  position: relative;
  padding: 5rem 2rem 15rem;
  color: $color-black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: min(45vw, 1100px);
  }

  &__text {
    text-align: center;
    font-size: $font-size-xl;
    line-height: 1.5;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    min-height: 50vh;
    padding: 4rem 1.5rem;

    &__inner {
      max-width: 70vw;
    }

    &__text {
      font-size: $font-size-md;
      line-height: 1.2;
    }
  }
}
