/* =========================================
   Button
========================================= */

.button {
  // --------- Thème par défaut ---------
  --button-stroke: #{$color-black};
  --button-flair: #{$color-black};
  --button-label: #{$color-black};
  --button-label-hover: #{$color-white};

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  cursor: pointer;
  border-radius: 500px;
  border: none;
  background: transparent;
  padding: 1.2rem 1.7rem;
  font-size: $font-size-base;
  font-weight: 600;
  text-decoration: none;
  overflow: hidden;
  pointer-events: auto;

  &:focus-visible {
    outline: 2px solid #117dac;
    outline-offset: 3px;
    color: $color-white;
    background-color: #117dac;
  }

  &--stroke {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 0.125rem solid var(--button-stroke);
      border-radius: 6.25rem;
      pointer-events: none;
    }

    &:hover .button__label {
      color: var(--button-label-hover);
    }

    .button__label {
      position: relative;
      z-index: 1;
      text-align: center;
      color: var(--button-label);
      transition: color 0.15s ease-in-out;
    }
  }

  /* Flair pour animation GSAP */
  .button__flair {
    position: absolute;
    inset: 0;
    transform: scale(0);
    transform-origin: 0 0;
    will-change: transform;
    pointer-events: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 170%;
      aspect-ratio: 1/1;
      background-color: var(--button-flair);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  // --------- Variante claire (Footer) ---------
  &--light {
    --button-stroke: #{$color-white};
    --button-flair: #{$color-white};
    --button-label: #{$color-white};
    --button-label-hover: #{$color-black};
  }

  // --------- Variante sombre (Hero) ---------
  &--dark {
    --button-stroke: #{$color-black};
    --button-flair: #{$color-black};
    --button-label: #{$color-black};
    --button-label-hover: #{$color-white};
  }
}
