/* =========================================
   Hero Section
========================================= */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;
  }

  &__intro {
    pointer-events: none;
    font-size: $font-size-xl;
    max-width: 40vw;
    margin-bottom: 2rem;
    line-height: 1.4;

    @media (max-width: 1400px) {
      max-width: 60vw;
    }

    @media (max-width: 768px) {
      font-size: $font-size-lg;
      max-width: 70vw;
    }
  }
}
