@import "./settings";
@import "./components/hero.scss";
@import "./components/button.scss";
@import "./components/projects.scss";
@import "./components/projectModal.scss";
@import "./components/about.scss";
@import "./components/footer.scss";
